@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-background {
    @apply bg-center bg-cover bg-no-repeat;
    background-image: url('/assets/img/random-shape-in-blue-png.png');
    background-position:  top left;
}
.block {
    font-family: Arial;
}